# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Node
node_modules/
npm-debug.log*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db