<!-- templates/registration/password_reset_done.html -->
{% extends "accounts/layouts/main.html" %} {% block title %}Email Sent          {% endblock %} {% block body %}

<style>
  .pwd-reset-done button {
    background-color: rgb(0, 0, 0);
    margin-top: 1rem;
    /* position: absolute; */
    /* right: 0; */
    padding: 0.8rem 3rem;
    color: aliceblue;
    font-weight: 600;
    border-radius: 10px;
    display: block;
  }

  .pwd-reset-done {
    height: 83vh;
    /* background-color: rgb(83, 89, 89); */
    display: flex;
    justify-content: center;
  }

  .pwd-reset-done p {
    font-size: 1.2rem;
    color: rgb(75, 75, 73);
    margin: 1rem 0;
  }

  .pwd-reset-done h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }
</style>
<div class="pwd-reset-done">
  <div>
    <h1>Check your inbox.</h1>
    <p>
      We've emailed you instructions for setting your password. You should
      receive the email shortly!
    </p>
  </div>
</div>
{% endblock %}
