{% extends 'layouts/base.html' %} {% block body %} {{ form.media }}
<!-- IMPORTANT -->

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <section class="max-w-[55%] mx-auto">
    <div class="my-2">
      <label class="font-semibold text-lg"
        >Give a Flashy Title for you Blog:</label
      >
      {{ form.title }}
    </div>

    <div class="my-2 content" id="content">{{ form.content }}</div>

    <div class="my-2">
      <label class="font-semibold text-lg"
        >Make it more attractive by giving an Image:</label
      >
      {{ form.image }}
    </div>

    <div class="my-2">
      <label class="font-semibold text-lg">Select you catagory:</label
      >{{form.category}}
    </div>

    <div class="my-2">
      <label class="font-semibold text-lg">Add Tags to make it easy to search:</label
      >{{form.post_tag}}
    </div>

    <button
      type="submit"
      class="block w-[70%] mx-auto my-6 bg-gray-300 font-semibold text-lg p-2 rounded-3xl hover:bg-teal-300 hover:text-white hover:transition"
    >
      Publish
    </button>
  </section>
</form>
{% endblock %}
