<div class="w-full h-[85%] overflow-y-scroll mt-2">
  <button class="absolute top-0" onclick="toggleComments()">
    <i class="fa-solid fa-xmark text-gray-500"></i>
  </button>

  {% for comment in comments %}
  <div>
    {% if comment.parent == None%}
    <section class="flex gap-2 mt-6">
      <img
        src="{{comment.user.profile.profileImage.url}}"
        class="w-[2rem] h-[2rem] rounded-full"
        alt=""
      />
      <section class="text-sm w-[80%]">
        <div class="flex gap-2">
          <p class="text-[.9rem] font-semibold">{{comment.user}}</p>
          <p>{{comment.content}}</p>
        </div>

        <div class="flex gap-2 text-xs font-semibold mt-1 text-gray-500">
          <p>{{comment.created_at}}</p>
          <p>100 likes</p>
          <button
            class="block hover:text-gray-800"
            onclick="toggleReply({cmntId:'{{comment.id}}', user:'{{comment.user}}'})"
          >
            reply
          </button>

          <button
            class="relative"
            onclick="toggleCommentOptions('{{comment.cmnt_idx}}')"
          >
            ...
            <div
              class="hidden absolute bg-gray-200 rounded-2xl"
              id="{{comment.cmnt_idx}}"
              style="top: -1.2rem; right: -5rem"
            >
              {%if request.user == comment.user %}
              <a
                href="{% url 'Delete-Comment' comment.id comment.blog.id %}"
                class="block py-2 px-4 hover:bg-gray-300"
                style="border-bottom: 1px gray solid"
                >Delete</a
              >

              {% endif %}

              <a href="#" class="block py-2 px-4 hover:bg-gray-300">Report</a>
            </div>
          </button>
        </div>
      </section>
      <!--  -->
    </section>

    <button
      class="{{comment.id}} text-xs font-semibold text-gray-500 block"
      onclick="showReplies('{{comment.id}}')"
      style="margin-left: 2.5rem; margin-top: 1rem"
    >
      show replies
    </button>
    <!-- Reply section -->

    <section class="hidden" id="{{comment.id}}">
      {% for reply in comments %} {% if reply.parent.id == comment.id %}
      <section class="flex gap-2 my-6" style="margin-left: 1.5rem">
        <img
          src="{{reply.user.profile.profileImage.url}}"
          class="w-[2rem] h-[2rem] rounded-full"
          alt=""
        />
        <section class="text-sm w-[80%]">
          <div class="flex gap-2">
            <p class="text-[.9rem] font-semibold">{{reply.user}}</p>
            <p>{{reply.content}}</p>
          </div>

          <div class="flex gap-2 text-xs font-semibold mt-1 text-gray-500">
            <p>{{reply.created_at}}</p>
            <p>100 likes</p>
            <button
              class="block hover:text-gray-800"
              onclick="toggleReply({cmntId:'{{reply.id}}', user:'{{reply.user}}'})"
            >
              reply
            </button>

            <!-- <button>
             <a href="{% url 'Delete-Comment' reply.id reply.blog.id %}">Delete</a>
           </button> -->
            <button
              class="relative"
              onclick="toggleCommentOptions('{{reply.cmnt_idx}}')"
            >
              ...
              <div
                class="hidden absolute bg-gray-200 rounded-2xl"
                id="{{reply.cmnt_idx}}"
                style="top: -1.2rem; right: -5rem"
              >
                {%if request.user == reply.user %}
                <a
                  href="{% url 'Delete-Comment' reply.id reply.blog.id %}"
                  class="block py-2 px-4 hover:bg-gray-300"
                  style="border-bottom: 1px gray solid"
                  >Delete</a
                >

                {% endif %}

                <a href="#" class="block py-2 px-4 hover:bg-gray-300">Report</a>
              </div>
            </button>
          </div>
        </section>
        <!--  -->
      </section>
      {% endif %} {% endfor %}
    </section>
    {% endif %}
  </div>

  {% endfor %} {% include 'comment_bar.html' %}
</div>
